@model PL.WebApplication.Models.BankAccount


<div class="panel panel-info">
    <div class="panel-heading">
        @Html.Label("Account info")
    </div>
    <div class="panel-body">
        @Html.Label("IBAN:")
        @Html.DisplayFor(Model => Model.IBAN)<br />
        @Html.Label("Owner:")
        @Html.DisplayFor(Model => Model.Owner)<br />
        @Html.Label("Balance:")
        @Html.DisplayFor(Model => Model.Balance)<br />
        @Html.Label("Bonus points:")
        @Html.DisplayFor(Model => Model.BonusPoints)<br />
        @Html.Label("Account type:")
        @Html.DisplayFor(Model => Model.AccountType)
    </div>
</div>


