@model IEnumerable<PL.WebApplication.Models.BankAccount>
@{
    ViewBag.Title = "ViewAccountList";
}

<h2 class="page-header">Accounts list</h2>

<table class=" table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.IBAN)</th>
            <th>@Html.DisplayNameFor(m => m.Owner)</th>
            <th>@Html.DisplayNameFor(m => m.Balance)</th>
            <th>@Html.DisplayNameFor(m => m.BonusPoints)</th>
            <th>@Html.DisplayNameFor(m => m.Type)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model)
        {
            <tr>
                <td>@acc.IBAN</td>
                <td>@acc.Owner</td>
                <td>@acc.Balance</td>
                <td>@acc.BonusPoints</td>
                <td> @acc.Type</td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

@*@Html.ActionLink("back to service", "Index", "service", null, new { @class = "btn btn-default" })*@
@*@Html.RouteLink("back to service", "home", null, new { @class = "btn btn-default" })*@
@Html.Partial("_HomeLink")