@{
    ViewBag.Title = "Home Page";
}

<h2 class="page-header"><span class="glyphicon "></span> Account service options</h2>
<div class="list-group">
    @*@Html.ActionLink("Make a deposit", "deposit", null, new { @class = "list-group-item " })*@

    <a href="@Url.Action("deposit")" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Make a deposit </a>
    <a href="@Url.Action("withdraw")" class="list-group-item"><span class="glyphicon glyphicon-arrow-left"></span> Make a withdrawal </a>
    <a href="@Url.Action("transfer")" class="list-group-item"><span class="glyphicon glyphicon-transfer"></span> Make a transfer </a>
    <a href="@Url.Action("create")" class="list-group-item"><span class="glyphicon glyphicon-new-window"></span> Create a new account </a>
    <a href="@Url.Action("close")" class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Close an account </a>
    <a href="@Url.Action("AccountsList")" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> View list of accounts </a>

    @*@Html.ActionLink("Make a withdrawal", "withdraw", null, new { @class = "list-group-item " })
    @Html.ActionLink("Make a transfer", "transfer", null, new { @class = "list-group-item " })
    @Html.ActionLink("Create a new account", "create", null, new { @class = "list-group-item " })
    @Html.ActionLink("Close an account", "close", null, new { @class = "list-group-item" })
    @Html.ActionLink("View list of accounts", "AccountsList", null, new { @class = "list-group-item " })*@
</div>