@model IEnumerable<PL.WebApplication.Models.BankAccount>
@{
    ViewBag.Title = "AccountsList";
}

@Html.Partial("_PageHeader", "Accounts list")

<table class=" table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(m => m.IBAN)</th>
            <th>@Html.DisplayNameFor(m => m.Owner)</th>
            <th>@Html.DisplayNameFor(m => m.Balance)</th>
            <th>@Html.DisplayNameFor(m => m.BonusPoints)</th>
            <th>@Html.DisplayNameFor(m => m.AccountType)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5" class="text-center">You have no accounts</td>
            </tr>
        }
        else
        {
            foreach (var acc in Model)
            {
                <tr @if (acc.Status == BLL.Interface.BankAccount.BankAccountStatus.Inactive) { <text> class="table-secondary" </text>    }>
                    <td>@acc.IBAN</td>
                    <td>@acc.Owner</td>
                    <td>@acc.Balance</td>
                    <td>@acc.BonusPoints</td>
                    <td> @acc.AccountType</td>
                    <td>
                        @if (acc.Status == BLL.Interface.BankAccount.BankAccountStatus.Inactive)
                        {
                            <span class="badge badge-info ">Closed</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.Partial("_HomeLink")