@model PL.WebApplication.Models.NewAccount
@{
    ViewBag.Title = "Create";
}

@Html.Partial("_PageHeader", "Create a new account")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    <div class="form-group ">
        @Html.LabelFor(m => m.Type, new { @class = "form-text" })
        @Html.EnumDropDownListFor(m => m.Type, new { @class = "form-control custom-select", id = "Type" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.StartBalance, new { @class = "form-text" })
        @Html.EditorFor(m => m.StartBalance, new { htmlAttributes = new { @class = "form-control ", id = "StartBalance", type = "number", required = "", min = "0", max = "1000000" } })
        @Html.ValidationMessageFor(m => m.StartBalance, null, new { @class = "text-danger" })
    </div>

    <input type="button" class="btn btn-primary form-control" data-toggle="modal_" data-target="#createModal" value="Create" id="create" />

    @Html.Partial("_NewAccountModal")

    @*<div class="modal" tabindex="-1" role="dialog" id="createModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title ">Create a new account?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_NewAccountInfo", Model)
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-25">Yes</button>
                    <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>*@
}


<br />
@Html.Partial("_HomeLink")

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {

            $('#create').click(function () {
                if ($('form')[0].checkValidity()) {

                    var type = $("#Type option:selected").text();
                    $("#typeVal").text(type);

                    var balance = $("#StartBalance").val();
                    $("#balanceVal").text(parseInt(balance).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));

                    $("#createModal").modal();
                }
                else {
                    $(':submit ').click();
                }
            });

        });
    </script>
}