@model IEnumerable<BLL.Interface.BankAccount>
@{
    ViewBag.Title = "ViewAccountList";
}

<h2>List of accounts</h2>

@*@Html.DisplayForModel()*@

<table rules="groups" cellpadding="3">
    <thead>
        <tr>
            <th>IBAN</th>
            <th>Owner</th>
            <th>Balance</th>
            <th>Bonus points</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var acc in Model)
        {
            <tr>
                <td align="center">@acc.IBAN</td>
                <td align="center">@acc.Owner</td>
                <td align="center">@acc.Balance</td>
                <td align="center">@acc.BonusPoints</td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

<h5>
    @Html.ActionLink("back to service", "Index", "Home")
</h5>