@model PL.WebApplication.Models.BankAccount
@{
    ViewBag.Title = "WithdrawFrom";
}

@Html.Partial("_PageHeader", "Withdraw from account")

@Html.Partial("_AccountInfo", Model)

@Html.ValidationSummary(false, null, new { @class = "text-danger" })

@using (Html.BeginForm("MakeWithdrawal", "Service", Model, FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="amount">Withdrawal amount:</label>
        <input name="amount" id="amount" class="form-control mx-2 "  type="number" required min="1"/>
        <button type="button" class="btn btn-primary" data-toggle="modal_" data-target="#myModal">Withdraw</button>
    </div>

    @Html.Partial("_Modal", Model)
}

@*@Html.ValidationMessage("withdrawal amount", new { @class = "text-danger"})*@

@{
    ViewBag.Action = "withdraw";
    ViewBag.LinkText = "back to accounts list";
}
<br />
@Html.Partial("_BackLink")

@section Scripts
{
    <script>
        $(function () {
            $("button").click(function () {
                if ($("form")[0].checkValidity()) {
                    var amount = $("#amount").val();
                    $(".modal-title").text("Withdraw " + parseInt(amount).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + " from this account?");
                    $("#myModal").modal();
                }
                else {
                    $('<input type="submit">').hide().appendTo($("form")).click().remove();
                    //$('#amount').addClass("is-invalid");
                }
            });
        });
    </script>
}