@model IEnumerable<PL.WebApplication.Models.BankAccount>
@{
    ViewBag.Title = "ViewAccountList";
}

<style>
    td, th {
        text-align: center
    }
</style>

<h2>List of accounts</h2>

@*@Html.DisplayForModel()*@

<table rules="groups" cellpadding="2" frame="below">
    <thead>
        <tr>
            <th>IBAN</th>
            <th>Owner</th>
            <th>Balance</th>
            <th>Bonus points</th>
            <th>Account type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model)
        {
            <tr>
                <td>@acc.IBAN</td>
                <td>@acc.Owner</td>
                <td>@acc.Balance</td>
                <td>@acc.BonusPoints</td>
                <td>@acc.AccountType</td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

@Html.ActionLink("back to service", "Index", "Home")