@{
    ViewBag.Title = "Home Page";
}

<h2 class="page-header">Account service options</h2>
<div class="list-group">
    @Html.ActionLink("Make a deposit", "deposit", null, new { @class = "list-group-item " })
    @Html.ActionLink("Make a withdrawal", "withdraw", null, new { @class = "list-group-item " })
    @Html.ActionLink("Make a transfer", "transfer", null, new { @class = "list-group-item " })
    @Html.ActionLink("Create a new account", "create", null, new { @class = "list-group-item " })
    @Html.ActionLink("Close an account", "close", null, new { @class = "list-group-item" })
    @Html.ActionLink("View a list of accounts", "AccountList", null, new { @class = "list-group-item " })
</div>