@{
    ViewBag.Title = "Home Page";
}

<h2>Account service options</h2>

<ul >
    <li>@Html.ActionLink("Make a deposit", "deposit", "home")</li>
    <li>@Html.ActionLink("Make a withdrawal", "withdraw", "home")</li>
    <li>@Html.ActionLink("Create a new account", "create", "home")</li>
    <li>@Html.ActionLink("Close an account", "close", "home")</li>
    <li>@Html.ActionLink("View a list of accounts", "AccountList", "Home")</li>
</ul>