@model PL.WebApplication.Models.BankAccount

<div class="card border-info my-2">
    <h5 class="card-header text-info">Account info</h5>
    <div class="card-body text-info">
        <p class="card-text text-left">
            <b>@Html.DisplayNameFor(m => m.IBAN):</b>
            @Html.DisplayFor(m => m.IBAN)<br />
            <b>@Html.DisplayNameFor(m => m.Owner):</b> 
            @Html.DisplayFor(m => m.Owner)<br />
            <b>@Html.DisplayNameFor(m => m.Balance):</b>  
            @Html.DisplayFor(m => m.Balance)<br />
            <b>@Html.DisplayNameFor(m => m.BonusPoints):</b> 
            @Html.DisplayFor(m => m.BonusPoints)<br />
            <b>@Html.DisplayNameFor(m => m.AccountType):</b> 
            @Html.DisplayFor(m => m.AccountType)
        </p>
    </div>
</div>